data/bkms_jni_val/jni_uniprot.json
data/bkms_jni_val/known_rxns_jni_w_enzyme_validation.json
data/sprhea/uniprotkb_reviewed_true_AND_proteins_wi_2024_02_29.tsv
data/bkms_jni_val/known_rxns_swissprot_enzymes_240310_v2.json
data/sprhea/sprhea_240310_v3.json
data/sprhea/uniprotkb_reviewed_true_AND_proteins_wi_2024_07_29.tsv
data/sprhea/sprhea_240310_v3_mapped.json
data/sprhea/sprhea_240310_v3_mapped_no_subunits.json
**/imgs
data/raw_expansions/
data/pruned_expansions/
artifacts/documents/
artifacts/mevalonate_uniprot/
artifacts/mol_svgs/
artifacts/rxn_svgs/
artifacts/tmp_pdfs/
artifacts/pwy_svgs/
core*
*.ipynb_checkpoints*
*__pycache__*


# typical dev stuff
.idea
.tool-versions

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot
