data/raw_expansions/
data/pruned_expansions/
artifacts/documents/
artifacts/mevalonate_uniprot/
artifacts/mol_svgs/
artifacts/rxn_svgs/
artifacts/tmp_pdfs/
artifacts/pwy_svgs/
core*
*.ipynb_checkpoints*
*__pycache__*
data/mapping/jni_uniprot.json
data/mapping/known_rxns_jni_w_enzyme_validation.json
