# Step 1: Set this to path of dir containing datafiles for to render in path viewer
# i.e., found_paths, predicted_reactions, known_reactions & svgs/
# Step 2: Save to .env in project root
BOTTLE_EXPANSION_ASSETS=~/opt/bottle/expansion_assets/241118_bottle_checkin
